a[href*='https://github.com/Chainlit/chainlit'] {
    visibility: hidden;
}

.message-avatar .MuiAvatar-root {
    background-color: transparent; /* Remove the background color */
    color: #FFFFFF; /* Change this to your desired text color */
    border: 0.25px solid #FFFFFF; /* Add a white border for the circle */
    border-radius: 50%; /* Ensure the avatar remains circular */
    background-image: url('http://localhost:8051/logo?theme=dark'); /* Path to your logo */
    background-size: cover; /* Ensure the logo covers the entire avatar */
    background-position: center; /* Center the logo */
    background-repeat: no-repeat; /* Prevent the logo from repeating */
    width: 38px; /* Adjust the width as needed */
    height: 38px; /* Adjust the height as needed */
}