aiohttp
beautifulsoup4
chainlit
langchain
langchain-community
langchain-core
literalai
llama-parse
numpy
pandas
pysrt
python-dotenv
PyYAML
RAGatouille
requests
scikit-learn
torch
tqdm
transformers
trulens_eval
umap-learn
llama-cpp-python
pymupdf
websockets
langchain-openai
black
flake8
bandit