a[href*='https://github.com/Chainlit/chainlit'] {
    visibility: hidden;
}

/* Hide the default avatar image */ 
.MuiAvatar-root img.MuiAvatar-img {
    display: none;
  }
  
/* Target the container of the image and set a custom background image */
.MuiAvatar-root.MuiAvatar-circular.css-m2icte {
    background-image: url('/public/assets/images/avatars/ai-tutor.png'); /* Replace with your custom image URL */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    width: 100px; /* Ensure the dimensions match the original */
    height: 100px; /* Ensure the dimensions match the original */
    border-radius: 50%; /* Maintain circular shape */
}
.MuiAvatar-root.MuiAvatar-circular.css-v72an7 {
    background-image: url('/public/assets/images/avatars/ai-tutor.png'); /* Replace with your custom image URL */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    width: 40px; /* Ensure the dimensions match the original */
    height: 40px; /* Ensure the dimensions match the original */
    border-radius: 50%; /* Maintain circular shape */
}

.MuiStack-root.css-14k6mw7 img {
    content: url('/public/assets/images/avatars/ai-tutor.png'); /* Replace with the path to your custom image */
    max-height: 45px; /* Ensure the height remains consistent */
    max-width: 45px; /* Ensure the width remains consistent */
}